# Crime Master - Merge (2017 + 2018)
# Crime Master - Initial Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

crimes_master_2017 = "Resources/Crimes_MASTER_2017_fromGit.csv"
crimes_master_2018 = "Resources/Crimes_MASTER_2018_fromGit.csv"

crime_2017 = pd.read_csv(crimes_master_2017)
crime_2018 = pd.read_csv(crimes_master_2018)

crime_2017.head(1)

,ID,Date,IUCR,Primary Type,Description,Location Description,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Geometry
0,23059,1/1/2017 5:19,110,HOMICIDE,FIRST DEGREE MURDER,TAVERN,19,46,3,01A,1167937.0,1930954.0,2017,41.966082,-87.657908,"(41.966081547, -87.657908498)"

In [2]:
crime_2018.head(1)

,ID,Date,IUCR,Primary Type,Description,Location Description,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Geometry
0,11249232,1/1/2018 0:00,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,5,9.0,50,17,1182937.0,1829821.0,2018,41.688228,-87.605905,"(41.688227926, -87.605905475)"

In [3]:
crime_master2 = np.concatenate([crime_2017,crime_2018],axis=0)
crime_master2

array([[23059, '1/1/2017 5:19', '110', ..., 41.96608155,
        -87.65790849999999, '(41.966081547, -87.657908498)'],
       [23067, '1/7/2017 10:07', '110', ..., 41.86427335, -87.66023297,
        '(41.864273353, -87.660232974)'],
       [23092, '1/19/2017 10:01', '110', ..., 41.76417303, -87.65044877,
        '(41.764173033, -87.650448772)'],
       ...,
       [11552603, '12/31/2018 23:43', '143A', ..., 41.76463209,
        -87.62831164, '(41.764632089, -87.628311641)'],
       [11552570, '12/31/2018 23:44', '1330', ..., 41.96846289,
        -87.65967044, '(41.968462892, -87.659670442)'],
       [11552724, '12/31/2018 23:56', '440', ..., 41.857068100000006,
        -87.6576252, '(41.857068095, -87.657625201)']], dtype=object)

In [4]:
crime_master = pd.concat((crime_2017,crime_2018),axis=0,join='outer',join_axes=None,ignore_index=False)
crime_master.head(1)

,ID,Date,IUCR,Primary Type,Description,Location Description,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Geometry
0,23059,1/1/2017 5:19,110,HOMICIDE,FIRST DEGREE MURDER,TAVERN,19,46.0,3,01A,1167937.0,1930954.0,2017,41.966082,-87.657908,"(41.966081547, -87.657908498)"

In [5]:
crime_master.to_csv("Resources/Crimes_MASTER_merged.csv",index=False,header=True)